body {
    background-color: #16161d; /* Eigengrau */
}

h1 {
    color: limegreen;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1000%;
    text-align: center;
}

.faqs {
    color: limegreen;
    font-family: 'IBM Plex Sans', sans;
    text-align: center;
}

.question {
    font-size: 1rem;
    font-weight: bold;
}

.answer {
    text-indent: 1em;
    font-size: 0.75rem;
}
